/* Scrollbar customization */
::-webkit-scrollbar {
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #b3b3b3;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box; 
}

::-webkit-scrollbar-button {
  display: none;
  height: 0;
  width: 0;
}

::-webkit-scrollbar-track {
  background-color: #969696; 
  border-radius: 10px;
}

/*Font customization*/
@font-face {
  font-family: 'Montserrat';
  src: url('..public/fonts/montserat/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('/fonts/avenir/Avenir-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}